body {
   background-color: #2e2523;
}
h2 {
   color: #9c8473;
   font-size: 900;
   text-align: center;
   margin: 5vh 0;
   font-size: 2rem;
}
.all {
   background-color: #9c8473;
   width: 80%;
   margin: 0 10%;
   height: 12vh;
   position:relative;
   p{
      margin: 0 1rem;
      max-width: 80%;;
   }
}
.container {
   background-color: #9c8473;
   margin: 1.5rem;
   display: flex;
}
.container_name_route {
   display:flex;
   align-items: center;
   h4 {
      margin: 1rem;
      font-weight: 600;
   }
   .icon {
   }
}
.check{
   position:absolute;
   right:0;
   scale:2;
   margin-right:1rem;
   margin-top:-20px;

}

.container1 {
   display: flex;
   background-color: #9c8473;
   color: #2e2523;
   margin: -3rem 1.5rem;
}
.uni {
   display: flex;
   align-items: center;
   justify-content: center;
}
.button1 {
   color: black !important;
   background-color: #be8340 !important;
}

.title {
}
